.explore-product{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-product h1{
    font-weight: bold;
    animation: fadeIn 3s;
}

.explore-product-text{
    max-width: 60%;
    font-weight: 200;
}
.explore-product-list{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-product-list::-webkit-scrollbar{
    display: none;
}
.explore-product-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-product-list-item p{
    margin-top: 10px;
    /* color: #747474; */
    font-size: max(1.4vw, 16px);
    cursor: pointer;
    font-weight: 200;
}

.explore-product hr{
    border: none;
    background-color: #e2e2e2;
    height: 2px;
    margin: 10px 0px;
}

.explore-product-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}

/* MEDIA QUERY FOR LAPTOP */

@media (max-width:1050px){
    .explore-product-text{
        max-width: 100%;
        font-size: 14px;
    }

    .explore-product h1{
        font-weight: 700;
        font-size: 25px;
    }
}